# Dependencies
node_modules/

# Build output
dist/

# Vite
.vite/

# Environment variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cache
.eslintcache
.cache

# TypeScript
*.tsbuildinfo

# MacOS
.DS_Store

# IDE
.idea/
.vscode/
*.suo
*.sw?

# Tailwind (generated config)
tailwind.config.js
