/* Base Styles for the App Component */
.App {
  text-align: center;
}

/* Header Styles */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Logo Styles */
.App-logo {
  height: 40vmin;
  pointer-events: none; /* Disable pointer events on logo */
}

/* Link Styles */
.App-link {
  color: #61dafb;
}

/* Logo Animation */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Reduced Motion Preference */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
